In [1]:
import numpy as np
import _pickle as pickle

In [13]:
with open("profiles_clustered.pkl",'rb') as fp:
    df = pickle.load(fp)

with open("profilesMapIndex.pkl",'rb') as fp:
    profileMap = pickle.load(fp)

In [28]:
random_user = profileMap[profileMap['uid'] == 193].index[0]

In [26]:
profileMap[profileMap['uid'] == 193].index[0]

5

In [29]:
random_user

5

In [4]:
df

,biography,detective,fiction,mystery,non fiction,novel,Book,action,bollywood,comedy,...,rock,Music,baseball,basketball,chess,cricket,football,hockey,Sport,Cluster #
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,1
1,0.0,0.0,0.0,0.0,1.0,1.0,0.012346,0.0,0.0,1.0,...,1.0,0.012346,0.0,0.0,0.0,1.0,1.0,0.0,0.0625,0
2,0.0,0.0,0.0,0.0,1.0,1.0,0.111111,0.0,0.0,1.0,...,1.0,0.111111,0.0,0.0,0.0,1.0,1.0,0.0,0.2500,0
3,0.0,0.0,0.0,0.0,1.0,1.0,1.000000,0.0,0.0,1.0,...,1.0,1.000000,0.0,0.0,0.0,1.0,1.0,0.0,1.0000,0
4,0.0,0.0,0.0,0.0,1.0,1.0,9.000000,0.0,0.0,1.0,...,1.0,9.000000,0.0,0.0,0.0,1.0,1.0,0.0,4.0000,0
5,0.0,0.0,0.0,0.0,1.0,1.0,9.000000,0.0,0.0,1.0,...,1.0,9.000000,0.0,0.0,0.0,1.0,1.0,0.0,4.0000,0

In [5]:
import random

# Randomly choosing a cluster
#rand_cluster = random.choice(df['Cluster #'].unique())

# Assigning the Cluster Profiles as a new DF
group = df[df['Cluster #']==df['Cluster #'][random_user]].drop('Cluster #', axis=1)
#group = df

## Vectorizing the Bios in the Selected Cluster

# Fitting the vectorizer to the Bios


# Creating a new DF that contains the vectorized words
#cluster_v = pd.DataFrame(cluster_x.toarray(), index=group.index, columns=vectorizer.get_feature_names())

# Joining the vector DF and the original DF
#group = group.join(cluster_v)

# Dropping the Bios because it is no longer needed in place of vectorization
#group.drop('Bios', axis=1, inplace=True)


## Finding Correlations among the users

# Trasnposing the DF so that we are correlating with the index(users)
corr_group = group.T.corr()


## Finding the Top 10 Similar Users

# Randomly selecting a user
#random_user = random.choice(corr_group.index)
corr_group

          1         2         3         4         5
1  1.000000  0.995622  0.770919 -0.038306 -0.038306
2  0.995622  1.000000  0.823313  0.037163  0.037163
3  0.770919  0.823313  1.000000  0.582927  0.582927
4 -0.038306  0.037163  0.582927  1.000000  1.000000
5 -0.038306  0.037163  0.582927  1.000000  1.000000

In [6]:

print("Top 10 most similar users to User #", random_user, '\n')

# Creating a DF with the top 10 most similar users to the selected user
top_10_sim = corr_group[[random_user]].sort_values(by=[random_user],axis=0, ascending=False)[1:11]

# Printing out the results
print(top_10_sim)

print("\nThe most similar user to User #", random_user, "is User #", top_10_sim.index[0])

Top 10 most similar users to User # 2

          2
1  0.995622
3  0.823313
4  0.037163
5  0.037163

The most similar user to User # 2 is User # 1

In [7]:
top_10_sim.index

Int64Index([1, 3, 4, 5], dtype='int64')

In [32]:
ar = []
for i in top_10_sim.index:
    #print(profileMap[profileMap.index==profileMap.index[i]])
    #print("-----")
    ar.append(profileMap['uid'][i])
    #print("------------------------------")

In [33]:
ar

[0, 0, 0, 193]

In [36]:
with open("aaa.pkl",'rb') as fp:
    pf = pickle.load(fp)

In [38]:
type(pf)

pandas.core.frame.DataFrame